@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}
 
body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f5f4f9;
}

header { 
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: white;
}

header img {
  width: 181px;
  height: 41px;
  padding: 10px;
}

.boxUsuario img {
  background-color: #f9e423;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.boxUsuario {
  width: 185px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.bordas {
  display: flex;
}

.bordaMarrom {
  width: 20%;
  height: 3px;
  background-color: #aa6f34;
}

.bordaMarrom2 {
  width: 20%;
  height: 3px;
  background-color: #d2772e;
}

.bordaLaranja {
  width: 20%;
  height: 3px;
  background-color: #f48221;
}

.bordaLaranja2 {
  width: 20%;
  height: 3px;
  background-color: #faa61a;
}

.bordaAmarela {
  width: 20%;
  height: 3px;
  background-color: #f9e423;
}

.grandeDiv {
  display: flex;
}

.boxAmarelo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9e423;
  /* border-left: 8px solid #F9E423; */
  width: 230px;
  height: 583px;
}

.iconMenuAmarelo {
  height: 47px;
  display: flex;
  align-items: center;
  color: #aa6f34;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.iconMenuAmarelo:hover {
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  transition: 0.3s;
}

.iconMenuAmarelo img {
  width: 27px;
  margin-left: 20px;
  margin-right: 10px;
}

.displayColor {
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  transition: 0.3s;
}

#destinoOpcional {
  display: none;
  transition: 0.8s;
}

.classOptionMenu {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.classOptionMenu:hover {
  background-color: #f48221;
  transition: 0.3s;
}

.cima {
  margin-top: 20px;
}

.baixo {
  margin-bottom: 20px;
}

/* AQUI COMEÇA A ESTILIZAÇÃO DO CONTEÚDO */

.content {
    width: 83%;
}

.direcionamento {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.direcionamento img {
    width: 28px;
    height: 26px;
}

.palavraChave {
  display: flex;
  justify-content: space-between;
}

.inputPesquisa {
  width: 275px;
  height: 40px;
  border-radius: 10px;
  margin-left: 35px;
  border: 1px solid #E0E0E0;
}

.botaoNovoUsuario {
  width: 185px;
  height: 45px;
  margin-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #00C247;
}

.botaoNovoUsuario img {
  width: 28px;
  height: 26px;
  margin-right: 10px;
}

/* ESTILIZAÇÃO DA TABELA */

.tabelaPrincipal {
  height: 75%;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.table{
  width: 98%;
  border-spacing: 0;
}

.table thead th {
  padding: 10px;
  text-align: center;
}

.table tbody td {
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.acoes {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.acoes img {
  width: 18px;
}

.botaoAcoesTbody {
  width: 30px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #004CE8;
  cursor: pointer;
}

.botaoAcoesTbodyDois {
  width: 30px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FF3333;
  cursor: pointer;
}

/* ESTILIZAÇÃO DO BOTÃO TOGGLE ----- ON/OFF */

.slider {
  background: #FF3333;
  border-radius: 20px;
  width: 49px;
  height: 25px;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease-in-out;
  margin-top: 25px;
  margin-left: 75%;

}

.button {
  background: white;
  border: none;
  width: 21px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  top: 2px;
  left: 3px;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.toggleInputButton:checked ~ .slider {
  background: #00C247;
}

.toggleInputButton:checked ~ .slider > .button {
  background: white;
  left: 23px;
}

.toggleInputButton {
  display: none;
}