@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f5f4f9;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: white;
}

header img {
  width: 181px;
  height: 41px;
  padding: 10px;
}

.boxUsuario img {
  background-color: #f9e423;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.boxUsuario {
  width: 185px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.bordas {
  display: flex;
}

.bordaMarrom {
  width: 20%;
  height: 3px;
  background-color: #aa6f34;
}

.bordaMarrom2 {
  width: 20%;
  height: 3px;
  background-color: #d2772e;
}

.bordaLaranja {
  width: 20%;
  height: 3px;
  background-color: #f48221;
}

.bordaLaranja2 {
  width: 20%;
  height: 3px;
  background-color: #faa61a;
}

.bordaAmarela {
  width: 20%;
  height: 3px;
  background-color: #f9e423;
}

.grandeDiv {
  display: flex;
}

.boxAmarelo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9e423;
  /* border-left: 8px solid #F9E423; */
  width: 230px;
  height: 100vh;
}

.iconMenuAmarelo {
  height: 47px;
  display: flex;
  align-items: center;
  color: #aa6f34;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.iconMenuAmarelo:hover {
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  transition: 0.3s;
}

.iconMenuAmarelo img {
  width: 27px;
  margin-left: 20px;
  margin-right: 10px;
}

.displayColor {
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  transition: 0.3s;
}

#destinoOpcional {
  display: none;
  transition: 0.8s;
}

.classOptionMenu {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa61a;
  border-left: #f48221 4px solid;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.classOptionMenu:hover {
  background-color: #f48221;
  transition: 0.3s;
}

.cima {
  margin-top: 20px;
}

.baixo {
  margin-bottom: 70px;
}

/* AQUI COMEÇA A ESTILIZAÇÃO DO CONTEÚDO */

.content {
    width: 83%;
}

.direcionamento {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.direcionamento img {
    width: 28px;
    height: 26px;
}

.direcionamento h2 {
  margin-left: 10px;
}

.setaEsquerda {
  width: 35px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  border-radius: 50%;
}

.setaEsquerda img {
  width: 28px;
  height: 26px;
  cursor: pointer;
}

.boxNovoUsuario {
    width: 98%;
    height: 60%;
}

/* AQUI COMEÇA A ESTILIZAÇÃO DO FORMULARIO */

.contentBox-NU {
    width: 96%;
    height: 83%;
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0);
}

.contentBox-NU h4 {
    width: 131px;
    margin-left: 22px
}

.contentBox-NU .salvar {
    width: 210px;
    height: 40px;
    margin: 25px;
    color: white;
    background-color: #00C247;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

form {
    display: flex;
    margin-left: 23px;
    gap: 20px;
}

.novoUsuario {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.novoUsuario input {
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
} 

/* ESTILIZAÇÃO DO BOTÃO TOGGLE ----- ON/OFF */

.slider {
  background: #FF3333;
  border-radius: 20px;
  width: 49px;
  height: 25px;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease-in-out;
  margin-top: 6px;

}

.button {
  background: white;
  border: none;
  width: 21px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  top: 2px;
  left: 3px;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.toggleInputButton:checked ~ .slider {
  background: #00C247;
}

.toggleInputButton:checked ~ .slider > .button {
  background: white;
  left: 23px;
}

.toggleInputButton {
  display: none;
}